{% extends "layout.html" %}
{% set active_page = "jobs" %}

{% block title %}{{ jobtitle }}{% endblock %}
{% block subtitle %}{{ jobsubtitle }}{% endblock %}

{% block panels %}
{% if modules %}
{% for module in modules %}
{% if module.context == 'JobContext' %}
{% for panel in module.get_panels(job) %}
<div class="column is-one-third-desktop is-full-mobile">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">{{ panel.name }}</p>
        </div>
        <div class="card-content">
            {{ panel.content | safe }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}

<!--        <h1>{{ jobid }}</h1>
        <h2>Statepoint</h2>
        <ul>
            {% for key in sp %}
            <li><strong>{{ key }}:</strong> {{ sp[key] }}</li>
            {% endfor %}
        </ul>
        <h2>Files</h2>
        <ul>
            {% for file in files %}
            <li><a href="{{ file.url }}">{{ file.name }}</a></li>
            {% endfor %}
        </ul>
        <h2>Job Document</h2>
        <ul>
            {% for key in doc %}
            <li><strong>{{ key }}:</strong> {{ doc[key] }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
-->
