{% extends "layout.html" %}
{% set active_page = "jobs" %}

{% block title %}{{ jobtitle }}{% endblock %}
{% block subtitle %}{{ jobsubtitle }}{% endblock %}

{% block panels %}
{% if modules %}
{% for module in modules %}
{% if module.is_enabled() and module.context == 'JobContext' %}
{% for panel in module.get_panels(job) %}
<div class="column is-one-third-desktop is-full-mobile">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">{{ panel.name }}</p>
        </div>
        <div class="card-content">
            {{ panel.content | safe }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
