{% extends "layout.html" %}

{% block sidebar_content %}
{% if modules | length > 0 and g.jobs is defined and g.jobs | length > 0 %}
<div class="box sidebar-box">
    <p class="field">
        <a class="button" href="{{ modify_query(view='list') }}" title="List View">
            <span class="icon is-small">
                <i class="fas fa-list-ul"></i>
            </span>
        </a>
        <a class="button" href="{{ modify_query(view='grid') }}" title="Grid View">
            <span class="icon is-small">
                <i class="fas fa-th"></i>
            </span>
        </a>
    </p>
    <h2 class="subtitle is-4">Modules</h2>
    <form action="{{ url_for('change_modules') }}" method="POST">
    <input type="hidden" name="redirect" value="{{ request.url }}">
    {% for module in modules %}
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="modules[{{ loop.index0 }}]"{% if loop.index0 in enabled_modules and module.context == g.context %} checked{% endif %}>{{ module.name }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <input class="button is-primary" type="submit" value="Update">
    </form>
</div>
{% endif %}
{% endblock %}
