{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}
{% block subtitle %}{{ g.subtitle }}{% endblock %}

{% block panels %}
{% if enabled_modules | length <= 1 %}
<section class="section panel">
    <div class="columns is-mobile is-multiline">
{% endif %}
{% for job_details in g.jobs %}
{% set card_count = [] %}
{% if enabled_modules | length > 1 %}
<section class="section panel" id="{{ job_details.job._id }}">
{% endif %}
    {% if ( enabled_modules | length > 1 and g.jobs | length > 1 ) or ( g.jobs | length == 1 and query is defined ) %}
    <h4 class="title is-4">{{ job_details.title }}</h4>
    <h5 class="subtitle is-5"><a href="{{ url_for('show_job', jobid=job_details.job._id) }}">{{ job_details.job | string }}</a></h5>
    {% endif %}
    {% if enabled_modules | length > 1 %}
    <div class="columns is-mobile is-multiline">
    {% endif %}
    {% for module in modules %} {# begin modules #}
    {% if loop.index0 in enabled_modules and module.context == 'JobContext' %} {# if module should render #}
    {% for card in module.get_cards(job_details.job) %} {# begin cards #}
        {# jinja variables go out of scope after the loop unless this "list" hack is used #}
        {% if card_count.append(1) %}{% endif %}
        <div class="column is-4-desktop is-full-mobile">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title card-header-dashboard">
                        {% if enabled_modules | length <= 1 and g.jobs | length > 1 %}
                        <h5 class="title is-5">{{ job_details.title }}</h5>
                        <h6 class="subtitle is-6"><a href="{{ url_for('show_job', jobid=job_details.job._id) }}">{{ job_details.job | string }}</a></h6>
                        {% endif %}
                        {{ card.name }}
                    </div>
                </div>
                <div class="card-content">
                    {{ card.content | safe }}
                </div>
            </div>
        </div>
    {% endfor %} {# end cards #}
    {% endif %} {# end if module should render #}
    {% endfor %} {# end modules #}
    {% if card_count | length == 0 and enabled_modules | length > 1 %} {# begin no cards message #}
        <div class="column is-4-desktop is-full-mobile">
            <h6 class="subtitle is-6">No cards to show.</h6>
        </div>
    {% endif %} {# end no cards message #}
{% if enabled_modules | length > 1 %}
    </div>
</section>
{% if not loop.last %}
<hr/>
{% endif %}
{% endif %}
{% endfor %} {# end jobs #}
{% if enabled_modules | length <= 1 %}
    </div>
</section>
{% endif %}
{% endblock %}
