{% extends "layout.html" %}
{% set active_page = "jobs" %}

{% block title %}{{ PROJECT_NAME }}: Jobs{% endblock %}
{% block subtitle %}{{ PROJECT_DIR_SHORT }}{% endblock %}
{% import "stats.html" as stats %}
{% block stats %}
{{ stats.stat('Statepoints', num_statepoints) }}
{% endblock %}
{% block panels %}
<div class="column">
    <section class="panel">
        <div class="panel-block">
            <ul>
            {% for job in jobs %}
                <li><a href="{{ job.url }}">{{ job.title }} &mdash; {{ job.subtitle }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
