{% extends "layout.html" %}

{% block sidebar_content %}
{% if modules | length > 0 and g.project is defined %}
<div class="box sidebar-box">
    <h2 class="subtitle is-4">Modules</h2>
    <form action="{{ url_for('change_modules') }}" method="POST">
    <input type="hidden" name="redirect" value="{{ request.url }}">
    {% for module in modules %}
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="modules[{{ loop.index0 }}]"{% if loop.index0 in enabled_modules %} checked{% endif %}>{{ module.name }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <input class="button is-primary" type="submit" value="Update">
    </form>
</div>
{% endif %}
{% endblock %}