@import 'defaults';
@import '../../node_modules/bulma/bulma';

.is-light,
.is-light h1.title,
.is-light h2.title,
.is-light h3.title,
.is-light h4.title,
.is-light h5.title,
.is-light h6.title,
.is-light .subtitle,
.is-light .content {
    color: #000 !important;
}
.is-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}
.nav {
    margin: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.nav-item .button {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    height: 45px;
}
.promo-img {
    border-radius: 10px;
    border: 10px solid #fff;
}
