<table class="table">
  {% for key, ((previous_link, previous_label), (next_link, next_label)) in job_nav %}
  <tr>
    <th>
      {{ key }}
    </th>
    <td>
      {% if previous_link is none %}
      <div class="button is-light is-primary" disabled>{{ previous_label }}</div>
      {% else %}
      <a href="{{ previous_link }}" class = "button is-light is-primary">{{ previous_label }}</a>
      {% endif %}
    </td>

    <td>
      {% if next_link is none %}
      <div class="button is-light is-primary" disabled>{{ next_label }}</div>
      {% else %}
      <a href="{{ next_link }}" class = "button is-light is-primary">{{ next_label }}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
