# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

jobs:
  style-check:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: style-check
          command: |
            pip install --user -U flake8==3.7.1
            python -m flake8 --show-source signac_dashboard/


  test-3.7: &test-template
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            git submodule update --init --recursive
            export PATH=$PATH:$HOME/.local/bin
            pip install -U virtualenv --user
            mkdir -p ./venv
            virtualenv ./venv
            . venv/bin/activate
            pip install -U coverage mock
            pip install .

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            coverage run --source=signac_dashboard/ -m unittest discover tests/
            coverage report -i --include="signac_dashboard*"

      - store_artifacts:
          path: test-reports
          destination: test-reports

  test-3.5:
    <<: *test-template
    docker:
      - image: circleci/python:3.5-jessie

  test-3.4:
    <<: *test-template
    docker:
      - image: circleci/python:3.4-jessie

  test-pypy-3:
    <<: *test-template
    docker:
      - image: pypy:3

  test-deploy-pypi:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: test-deploy-pypi
          command: |
            pip install --user -U twine wheel setuptools
            bash .test-deploy.bash

  deploy-pypi:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: deploy-pypi
          command: |
            pip install --user -U -r twine wheel setuptools
            bash .deploy.bash


workflows:
  version: 2
  style-check-and-tests:
    jobs:
      - style-check
      - test-3.4:
          requires:
            - style-check
      - test-3.5:
          requires:
            - style-check
      - test-3.7:
          requires:
            - style-check
      - test-pypy-3:
          requires:
            - test-3.7
      - test-deploy-pypi:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - test-3.4
            - test-3.5
            - test-3.7
            - test-pypy-3
  deploy:
    jobs:
      - deploy-pypi:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
