# CircleCI configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

orbs:
  win: circleci/windows@2.2.0  # Enables Windows executors

jobs:
  linux-python-310: &linux-template
    docker:
      - image: cimg/python:3.10

    environment:
      PYTHON: python3

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Fetch submodules
          command: |
            git submodule sync
            git submodule update --init --recursive

      - run:
          name: Install dependencies
          command: |
            ${PYTHON} -m pip install --progress-bar off -U virtualenv --user
            mkdir -p ./venv
            ${PYTHON} -m virtualenv ./venv
            . venv/bin/activate
            ${PYTHON} -m pip install --progress-bar off -U pip>=20.3
            ${PYTHON} -m pip install --progress-bar off -U codecov
            ${PYTHON} -m pip install --progress-bar off -U -r requirements/requirements-test.txt
            ${PYTHON} -m pip install --progress-bar off -e .

      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            ${PYTHON} -m pytest --cov=signac_dashboard --cov-config=setup.cfg --cov-report=xml tests/ -v
            ${PYTHON} -m codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports

  linux-python-39:
    <<: *linux-template
    docker:
      - image: cimg/python:3.9

  linux-python-38:
    <<: *linux-template
    docker:
      - image: cimg/python:3.8

  linux-pypy-3:
    <<: *linux-template
    docker:
      - image: pypy:3
    environment:
      PYTHON: pypy3

  windows-python-310:
    executor:
      name: win/default
      shell: bash.exe
    environment:
      PYTHON: C:\Python310\python
    steps:
      - checkout
      - run:
          name: Fetch submodules
          command: |
            git submodule sync
            git submodule update --init --recursive
      - run:
          name: Install Python
          command: |
            choco install python --version 3.10.2 --limit-output --no-progress
      - run:
          name: Install dependencies
          command: |
            ${PYTHON} -m pip install --progress-bar off -U pip>=20.3
            ${PYTHON} -m pip install --progress-bar off -U codecov
            ${PYTHON} -m pip install --progress-bar off -U -r requirements/requirements-test.txt
            ${PYTHON} -m pip install --progress-bar off -U -e .
      - run:
          name: Run tests
          command: |
            ${PYTHON} -m pytest --cov=signac_dashboard --cov-config=setup.cfg --cov-report=xml tests/ -v
            ${PYTHON} -m codecov

  test-deploy-pypi:
    docker:
      - image: cimg/python:3.10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Fetch submodules
          command: |
            git submodule sync
            git submodule update --init --recursive
      - run:
          name: test-deploy-pypi
          command: |
            bash .circleci/deploy.bash testpypi

  deploy-pypi:
    docker:
      - image: cimg/python:3.10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Fetch submodules
          command: |
            git submodule sync
            git submodule update --init --recursive
      - run:
          name: deploy-pypi
          command: |
            bash .circleci/deploy.bash pypi


workflows:
  version: 2
  test:
    jobs:
      - linux-python-310
      - linux-python-39
      - linux-python-38
      - linux-pypy-3
      - windows-python-310
      - test-deploy-pypi:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - linux-python-310
            - linux-python-39
            - linux-python-38
            - linux-pypy-3
            - windows-python-310
  deploy:
    jobs:
      - deploy-pypi:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
