@import 'defaults';
@import 'bulma/bulma';
@import 'morris';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
}
.button.is-success {
  background-color: #2EB398;
}
.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7;
}
.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7;
}
.nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
}
.aside {
  background-color: #354052;
  margin-right: -10px;
}
.aside .main {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main .item.active {
  color: #F6F7F7;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
}
.aside .main .name {
  font-size: 16px;
  font-weight: bold;
}
.admin-panel {
  padding-bottom: 0;
}
.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}
.hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
}

.nav-left .searchbox {
  margin-top: 10px;
}





/*
.is-light,
.is-light h1.title,
.is-light h2.title,
.is-light h3.title,
.is-light h4.title,
.is-light h5.title,
.is-light h6.title,
.is-light .subtitle,
.is-light .content {
    color: #000 !important;
}
.is-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}
.nav {
    margin: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.nav-item .button {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    height: 45px;
}
.promo-img {
    border-radius: 10px;
    border: 10px solid #fff;
}
*/
