@import 'bulma/sass/utilities/initial-variables';
$primary: $blue;
@import 'bulma/bulma';
@import 'morris';
@import 'nprogress';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
}
.button.is-success {
  background-color: #2EB398;
}
.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7;
}
.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7;
}
.nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
}
.aside {
  background-color: #354052;
  margin-right: -10px;
}
.aside .menu {
  padding: 20px 20px 20px 30px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .menu .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .menu .item.active {
  color: #F6F7F7;
}
.aside .menu .icon {
  font-size: 19px;
  padding-right: 30px;
}
.aside .menu .name {
  font-size: 16px;
  font-weight: bold;
}
.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}
.sidebar-content {
  padding: 1rem;
}
.page-heading {
  padding: 1rem 1.5rem;
}
section.section.panel {
  padding: 1rem 1.5rem;
}
.card-header-title.card-header-dashboard {
  display: block;
  background-color: whitesmoke;
}
.hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
}
.nav-left .searchbox {
  margin-top: 10px;
}
