name: Run Unit Tests

on:
  pull_request:

  push:
    branches:
      - 'main'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: test (${{ matrix.os }}, ${{ matrix.python }}, ${{ matrix.dependencies }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python: ['3.10', '3.11', '3.12', '3.13']
        include:
          - os: 'macos-14'
            python: '3.13'
          - os: 'windows-2025'
            python: '3.13'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        submodules: "recursive"
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
      with:
        python-version: ${{ matrix.python }}
    - name: Setup Python environment
      uses: glotzerlab/workflows/setup-uv@2245be9e78600bf7846aaf9555da322446f46110 # 0.11.0
      with:
        lockfile: "requirements/requirements-test-py${{ matrix.python }}.txt"
        only-binary: ":none:"
    - name: Install the package
      run: |
        uv pip install . --no-build-isolation --no-deps --system -v
    - name: Test with pytest
      run: |
        pytest --cov=signac_dashboard --cov-config=pyproject.toml --cov-report=xml tests/ -v
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5

  # This job is used to provide a single requirement for branch merge conditions.
  tests_complete:
    name: Unit test
    if: always()
    needs: [test]
    runs-on: ubuntu-24.04

    steps:
    - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
    - name: Done
      run: echo "Done."
